* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #111;
    box-sizing: border-box;
}

h1 {
	color: #fff;
	font-size: 3rem;
	font-weight: 50;
	text-align: center;
	margin: 3.5rem 0 2rem; 
	font-family: 'Hind', sans-serif;
}

.title{
	color: lime;
	/* text-transform: uppercase; */
	font-weight: 800;
}

.inputDiv{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input{
    padding: 0.5rem 5rem;
    outline: none;
    border: none;
    height: 50px;
    border-radius: 25px;
    width: 350px;
    margin: 0.25rem;
    transition: .5s;
	font-size: 1rem;
}

.input:focus{
	padding: 0.5rem 1.5rem;
}

.add{
	outline: none;
    border: none;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    background-color: lime;
    color: white;
    cursor: pointer;
    transition: .5s;
    margin: 0.25rem;
}

.add:hover{
	opacity: 0.7;
}

.list{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
}

.item{
	padding: 0.5rem;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.8rem;
	-webkit-transition : border 0.5s ease-out;
    -moz-transition : border 0.5s ease-out;
    -o-transition : border 0.5s ease-out;
    transition : border 0.5s ease-out;
}

.item.edit_mode{
	border-bottom: 1px solid lime;
}

.item_input{
	background: none;
	outline: none;
	border: none;
	color: #fff;
	font-size: 1.05rem;
	width: 300px;
	padding-left: 0;
	transition: padding 0.5s ease;
}

.item_input.edit_mode{
	padding-left: 1.2rem;
	color: #ccc;
}

.edit{
	color: lime;
	margin: 0 1rem 0 0;
}

.remove{
	color:  #E00;
}

.edit, .remove{
	font-size: 0.9rem;
	cursor: pointer;
}


.footer{
	position: absolute;
	bottom: 0;
	right: 0;
}

.footer .text, .footer a{
	font-size: 0.8rem;
	color: #A9A9A9;
}



/* Media Queries */
@media only screen and (max-width: 500px){

	.container{
		width: 100%;
	}

	h1{
		font-size: 2.5rem;
	}

	.input{
		width: 95%;
		font-size: 0.95rem;
		padding-left: 1rem;
		margin-left: 0.8rem;
	}

	.add{
		height: 40px;
		/* width: 35px; */
		margin-right: 0.8rem;
	}

	.item{
		width: 90%;
		margin: 0 auto 0.8rem;
	}

	.item_input{
		font-size: 0.95rem;
		width: 85%;
	}

	.edit, .remove{
		font-size: 0.85rem;
		width: 7%;
		margin: 0;
	}
}

@media only screen and (max-width: 400px){
	.edit{
		width: 5%;
		margin-right: 2%;
	}

	.remove{
		text-align: right;
	}
}